body {
    background-image: url('image2.jpeg');
    font-family: Helvetica;
    color: black; 
}

h1 {
    border: 7px outset white;
    width: 400px;
    color: #0000FF;
    margin-left: auto;
    margin-right: auto;
    
}


form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}